/* Write your CSS here */
* {
  box-sizing: border-box;
}
.lt-match-div {
  display: flex;
  color: #ffffff;
  background-color: #0f172a;
  width: 100%;
  font-family: 'Bree Serif';
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}
.competing-logo {
  height: 120px;
  width: 110px;
}
.lt-inner-div {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.lt-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lt-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lt-3 {
  text-align: right;
  width: 38%;
}
.date {
  font-size: 25px;
}
.competing-team {
  font-size: 30px;
}
.heading {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .lt-match-div {
    flex-direction: column;
  }
  .competing-logo {
    height: 100px;
    width: 110px;
  }
  .heading {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
  }
  .competing-team {
    font-size: 20px;
  }
  .date {
    font-size: 18px;
  }
  .lt-inner-div {
    border-bottom: 1px #ffffff solid;
    padding-bottom: 20px;
  }
  .lt-3 {
    width: 100%;
    text-align: start;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .competing-logo {
    height: 100px;
    width: 110px;
  }
  .heading {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
  }
  .competing-team {
    font-size: 20px;
  }
  .date {
    font-size: 18px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .lt-3 {
    width: 35%;
  }
}

@media screen and (max-width: 280px) {
  .competing-logo {
    height: 50px;
    width: 60px;
  }
  .heading {
    font-size: 14px;
  }
  .text {
    font-size: 12px;
  }
  .competing-team {
    font-size: 18px;
  }
  .date {
    font-size: 16px;
  }
}
